[submodule "libultraship"]
	path = libultraship
	url = https://github.com/julainoloca00-dot/libultraship-Shadow_Map.git
	branch = wind-waker-style-cel-shading
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/harbourmasters/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
